In [1]:
#Let's import required libraries
import pandas as pd
import numpy as np

# and prepare the dataset 
df_ = pd.read_excel("online_retail_II.xlsx", sheet_name="Year 2010-2011")
df = df_.copy()
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [2]:
#Let's check if there are missing values
df.isnull().sum()

Invoice             0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
Price               0
Customer ID    135080
Country             0
dtype: int64

In [3]:
# Missing values can be dropped for this example
df.dropna(inplace= True)

In [4]:
# Create TotalPrice variable by using Quantity and Price values
df["TotalPrice"] = df["Quantity"]* df["Price"]

In [5]:
df = df[~df["Invoice"].str.contains("C", na=False)]

In [6]:
df = df[(df['Quantity'] > 0)]

In [7]:
# Here is the important thing sorting values 
df1 = df.groupby("StockCode").agg({"TotalPrice" : "sum"}).sort_values("TotalPrice", ascending = False)
df1.reset_index(inplace= True)
df1.head()

  StockCode  TotalPrice
0     23843   168469.60
1     22423   142592.95
2    85123A   100603.50
3    85099B    85220.78
4     23166    81416.73

In [8]:
df1["cumpercentage"] = df1["TotalPrice"].cumsum()/df1["TotalPrice"].sum()*100

In [9]:
df["StockCode"].nunique()

3665

In [10]:
# The number of products that make up 80% of the revenue:
df_urun = df1[df1["cumpercentage"] <= 80]
df_urun["StockCode"].nunique()

776

In [11]:
df_urun["StockCode"].nunique()/df["StockCode"].nunique()*100

21.173260572987722